@import url('reset.css');

:root {
  --color-green: #00ad1b;
  --color-orange:  #ffa340;
  --color-black: #111c1d;
  --color-blue: #023dd3;
  --color-grapefruit: #c4350e;
  --color-white: rgb(250, 250, 250);
  /* font size */
  --font-xlarge:3em;
  --font-large:2em;
  --font-medium:24px;
  --font-small:18px;
  --font-micro:14px;
}

/* contents_ */
section[id^="contents_wrap_"] { width: 100%;}
div[id^="content_"] {
  width: 1200px;
  margin: 0 auto;
}
/* button */
p[class="con_btn"] a { color: var(--color-white);}
p[class="con_btn"] a:hover {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-black);
}
/* tag box */
p[class="tag_box"] {
  text-align: center;
  line-height: 48px;
  width: 175px;
  height: 48px;
  font-weight: 700;
  font-size: var(--font-medium);
  border: 1px solid var(--color-white);
  background: var(--color-white);
  color: var(--color-black);
}






#wrap { width: 100%;}

/*----- Header ----- */
#header_wrap { 
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  background: #00000050;
}
#header {
  width: 1200px;
  height: 96px;
  margin: 0 auto;
  position: relative;
}
#header h1 {
  float: left;
  padding: 16px 0 0 8px;
}

/* nav */
.gnb {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.gnb li {
  float: left;
  padding: 0 48px;
}
.gnb li a {
  font-size: var(--font-medium);
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-white);
}
.gnb li a:hover {
  text-decoration: underline;
}


/* top-menu */
.language_m {
  position: absolute;
  right: 0;
  top: 0;
}
.language_m li {
  float: left;
  padding: 0 16px;
}
.language_m li a {
  font-size: var(--font-micro);
  color: var(--color-white);
  font-weight: 300;
}
.language_m li a:hover {
  text-decoration: underline;
}





/* Banner */
#banner_wrap { 
  width: 100%; 
  background: url(../images/banner_01.jpg);
  background-size: cover;
  margin-bottom: 140px;
}
#banner {
  width: 1200px;
  height: 968px;
  margin: 0 auto;
  position: relative;
}
#banner h2 {
  position: absolute;
  top: 50%;
  font-size: 64px;
  font-weight: 700;
  color: var(--color-white);
  width: 100%;
  text-align: center;
}




/* ----- VR 체험관----- */
#contents_wrap_1 { margin-bottom: 16px;}
#content_1 {
  height: 480px;
  background: url(../images/con_01.jpg);
  position: relative;
}
.con_1tbox {
  width: 1200px;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}
.con_1tbox h2 {
  font-size: var(--font-xlarge);
  font-weight: 700;
  color: var(--color-white);
}
.con_1tbox h2 span { color: var(--color-orange);}
.con_1tbox p{
  color: var(--color-white);
}
.con_1tbox .con_btn {
  position: relative;
  top: 112px;
}
.con_1tbox .con_btn a {
  border: 1px solid var(--color-orange);
  padding: 16px 72px;
  background: var(--color-orange);
}



/* ----- 테마, 소식----- */
#contents_wrap_2 { margin-bottom: 160px;}
div[class^="con_2"] a { color: var(--color-white);}
div[class^="con_2"] a:hover {
  opacity: 0.85;
  transition: opacity 0.5s;
}
#content_2 { height: 400px;}
.con_2a_box {
  float: left;
  width: 49.33%;
  color: var(--color-white);
  position: relative;
}
.con_2a_box .tag_box {
  position: absolute;
  top: 24px;
}
.con_2a_box h2 { 
  font-size: var(--font-medium);
  position: absolute;
  top: 48%;
  left: 6%;
}
.con_2a_box h2 span {
  font-size: var(--font-large);
  font-weight: 700;
}



/* 소식 */
.con_2b_box {
  float: right;
  width: 49.33%;
  position: relative;
}
.con_2b_box .tag_box {
  position: absolute;
  right: 0;
  top: 24px;
}
.con_2b_box .tbox {
  color: var(--color-white);
  position: absolute;
  right: 8%;
  top: 40%;
}
.con_2b_box .tbox h2 {
  font-size: var(--font-medium);
  margin-bottom: 16px;
}
.con_2b_box .tbox h2 span {
  font-size: var(--font-large);
  font-weight: 700;
}
.con_2b_box .tbox p {
  white-space: pre-line;
}




/* ----- 사파리 ---- */
#contents_wrap_3 { 
  background: url(../images/con_04.jpg);
  background-size: cover;
  margin-bottom: 16px;
}
#content_3 { height: 480px;}
.con_3tbox {
  position: relative;
  top: 20%;
  right: 0;
}
.con_3tbox h2 {
  color: var(--color-orange);
  font-size: var(--font-large);
  /* font-weight: 500; */
}
.con_3tbox h2 span {
  color: var(--color-black);
  font-size: 72px;
  font-weight: 700;
}
.con_3tbox h2 + p {
  margin-top: 24px;
  font-size: var(--font-small);
}
.con_3tbox .con_btn {
  position: relative;
  top: 72px;
  left: 12%;
}
.con_3tbox .con_btn a {
  border: 1px solid var(--color-orange);
  padding: 16px 72px;
  background: var(--color-orange);
}


/* ----- 강연 ---- */
#contents_wrap_4 { margin-bottom: 160px;}
#content_4 {
  height: 320px;
  background: url(../images/con_05.jpg);
  background-size: cover;
  position: relative;
}
#content_4 .tag_box {
  position: absolute;
  top: 24px;
}
.con_4tbox {
  position: absolute;
  top: 10%;
  right: 12%;
}
.con_4tbox h2 {
  color: var(--color-blue);
  font-size: var(--font-medium);
}
.con_4tbox h2 span {
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
}
.con_4tbox h2 + p {
  margin-top: 18px; 
  font-size: var(--font-small);
  white-space: pre-line;
  color: var(--color-white);
}
.con_4tbox h2 + p span {
  font-size: var(--font-micro);
  text-decoration: underline;
}
.con_4tbox .con_btn {
  position: relative;
  left: 72%;
  bottom: 32px;
}
.con_4tbox .con_btn a {
  border: 1px solid var(--color-blue);
  padding: 12px 32px;
  background: var(--color-blue);
}



/* ----- 공원걷기/sns ---- */
#contents_wrap_5 { margin-bottom: 16px;}
#content_5 {
  height: 400px;
  background: url(../images/con_06.jpg);
  position: relative;
}
.con_5tbox {
  width: 1200px;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}
.con_5tbox h2 {
  color: var(--color-white);
  font-size: 16px;
}
.con_5tbox h2 span { 
  font-size: var(--font-xlarge);
  font-weight: 700;
  color: var(--color-white);
}
.con_5tbox p{
  color: var(--color-white);
}
.con_5tbox .con_btn {
  position: relative;
  top: 48px;
}
.con_5tbox .con_btn a {
  border: 1px solid var(--color-green);
  padding: 16px 48px;
  background: var(--color-green);
}


/* sns */
#contents_wrap_5a { 
  margin-bottom: 160px;
  height: 300px;
  overflow: hidden;
}
#contents_wrap_5a p {
  text-align: center;
  white-space: pre-wrap;
}
.con_5a_img {
  float: left;
  width: 16.66%;
}
.con_5a_img img {
  max-width: 100%;
  height: auto;
}




/* 인형숍 */
#contents_wrap_6 { 
  margin-bottom: 160px;
  background: url(../images/con_07.jpg);
  background-size: cover;
}
#content_6 {
  height: 480px;
  position: relative;
}
.con_6tbox {
  width: 1200px;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}
.con_6tbox h2 {
  font-size: var(--font-xlarge);
  font-weight: 700;
  color: var(--color-white);
}
.con_6tbox h2 span { color: var(--color-grapefruit);}
.con_6tbox h2 + p {
  font-size: var(--font-small);
  color: var(--color-white);
  margin-top: 32px;
}
.con_6tbox .con_btn {
  position: relative;
  top: 104px;
}
.con_6tbox .con_btn a {
  border: 1px solid var(--color-grapefruit);
  padding: 16px 48px;
  background: var(--color-grapefruit);
}


/* ----- 보호종,지속가능성 ---- */
#contents_wrap_7 { margin-bottom: 16px;}
#content_7 {
  height: 480px;
  position: relative;
}
#content_7 > p {
  position: absolute;
  bottom: 32px;
  left: 72px;
  color: var(--color-white);
  white-space: pre;
}
#content_7 > p span {
  font-size: var(--font-medium);
  font-weight: 700;
}
.con_7tbox {
  color: var(--color-white);
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: center;
}
.con_7tbox h2 {
  font-size: var(--font-medium);
}
.con_7tbox h2 span {
  font-size: 48px;
  font-weight: 700;
  color: #f0c15b;
}
.con_7tbox h2 + p { margin-top: 12%;}
.con_7_more {
  margin-top: 10%;
}
.con_7_more a {
  font-size: var(--font-small);
  color: var(--color-white);
}
.con_7_more a:hover {
  color: var(--color-white);
  text-decoration: underline;
}
.con_7_more img { padding-right: 8px;}



/* 지속가능성 */
#contents_wrap_7a { margin-bottom: 160px;}
#content_7a {
  height: 380px;
  position: relative;
}
#content_7a a {}
#content_7a a:hover {
  opacity: 0.85;
  transition: opacity 0.5s;
}

.con_7atbox {
  height: 380px;
  position: absolute;
  top: 0;
  left: 10%;
  text-align: center;
  color: var(--color-white);
}
.con_7atbox h2 {
  position: relative;
  bottom: 88px;
  color: var(--color-white);
  white-space: pre;
}
.con_7atbox h2 span {
  font-size: var(--font-xlarge);
  font-weight: 700;
}

.con_7atbox .con_line  {
  position: relative;
  top: 72px;
}
.con_7atbox h2 + img {
  position: relative;
  bottom: 64px;
}
.con_7atbox p {
  position: relative;
  bottom: 48px;
}






/* ----- footer ---- */

#footer_wrap {
  border-top: 1px solid var(--color-black);
}
#footer {
  width: 1200px;
  height: auto;
  margin: 0 auto; 
  position: relative;
}


.f_logo {
  padding-top: 64px;
  width: 15%;
  float: left;
}
.f_logo img { 
  max-width: 100%;
  height: auto;
}

.copy {
  padding-top: 62px;
  width: 85%;
  float: left;
}
[class^="copy_text"] {
  float: left;
  width: 25%;
}
[class^="copy_text"] a {
  font-size: 0.875rem;
}
.copytitle {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.copy_text3 ul {}
.copy_text3 ul li {
  float: left;
  padding: 0 6px;
}
.copy_text3 ul li i {
  font-size: 1.25rem;
  color: rgb(138, 138, 138);
}

.copy_text4 .news_button {
  margin-top: 14px;
}
.copy_text4 .news_button a {
  background: #b6b6b6;
  padding: 6px 24px;
  color: var(--color-white);
}

.copy_text4 .news_button a span {
  margin-left: 6px;
}

.copy_all {
  color: var(--color-black);
  font-size: 0.875rem;
  margin-top: 140px;
  display: block;
  margin-bottom: 56px;
}